header{
    margin: auto;
    
text-align: center;
background-color: rgb(33, 114, 69);
margin-top: 0px;
margin-bottom: -26px;

    width: 100%;
    padding-bottom: 40px;
    
    
}
@font-face {
    font-family: idroid;
    src: url('idroid.otf') format('opentype');
    
}
@font-face {
    font-family: beba;
    src: url('beba.otf') format('opentype');
}
h1{
   font-family: beba;
    color: aliceblue;
    text-align: center;
    font-weight: 10px;
    text-shadow: 2px 2px 0 black;
    font-size: 30px;
    max-width: 500px;
    margin: auto;
}
#descricao{
    color: aliceblue;
    font-family: beba;
    max-width: 500px;
    margin: auto;
    
}
body{
    background-color: rgba(29, 190, 8, 0.781);
    
margin: 0px;
}
#midle{
border-color: aliceblue;
padding: 20px;
margin: 0px;

}
#first{
    font-family: idroid;
    color: rgb(8, 129, 3);
   
}
main{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0 ,20 , 0,20px;
    border: 20px solid white;
    
    max-height: 800;
    min-height: 200;
    
    margin: auto;
    max-width: 1200px;
    min-width: 320px;
}
img{
    margin: auto;
    width: 100%;
   
    
}
#mizi{
    font-family: idroid;
    color: rgb(8, 129, 3);
    font-size: 10;
    
    background-image: linear-gradient(to right, rgb(4, 243, 4), transparent);
}
a{
    color: rgb(8, 129, 3);
    text-decoration: none;
}
#irina{
    left: -0.5%;
}
#droid{
    
    max-width: 500px;
  display: block;
  min-width: 50px;
    padding: 50px;
left: 30%;

}
p{
    font-size: 30px;
}
nav{
    top: 25%;
    left: 01%;
    position: relative;
    
}
nav >a{
    color: black;
    font-size: 22px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .8s;
    

}
nav > a:hover {
    background-color: green;
    color: lightgreen;
}
div.video{
    border-radius: 03px;
    background-color: greenyellow;
    margin: auto;
   
    padding: 50px;
    display: block;
    padding: 20px;
    border: 20 solid green;
    
}
div.video > iframe {

   margin: auto;
    width: 98%;
    display: block;
    top: 50%;
    left: 50%;
    max-width: 860px;
    min-width: 200px;
    max-height: 600px;
    min-height: 100px;
   
}
ul{border: 20px;
    margin-top: 30px;
    padding: 5px;

   list-style-position: inside;
   columns: 2;
   list-style-type: '\2714\00A0';

}
aside > h3{
background-color: rgb(3, 109, 3);
padding: 10px;
margin: -10px -10px 09px -10px;
border-radius: 10px 10px 0px 0px  ;
box-shadow: 3 3 0;
color: white;


}
aside{
background-color: rgb(136, 184, 136);
padding: 10px;
border-radius: 10px ;
font-weight: bolder;


    
max-height: 800;
min-height: 80;

margin: auto;
max-width: 1200px;
min-width: 320px
}
aside > p {
    font-size: 20px;
}
strong{
    color: rgb(4, 122, 4);
}

strong > a:hover {

    color: rgb(14, 189, 14);
    
}
.ultimo{
    text-align: center;
    font-size: 10px;
}
footer{
    background-color: bisque;
    padding: -10px;
    border: 05px solid wheat;
    margin: 5px;
}
h4{
    text-align: center;
}
h4 > a{
    color: rgb(34, 151, 10);
   
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .8s;
   
}
h4 > a:hover{
    background-color: green;
    color: lightgreen;
}